/* global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fuzzy Bubbles', 'Kanit', sans-serif, cursive;
}
/*  */


/* nav */
.nav-item:hover {
    background-color: #4682B4;
}

.nav-link:hover {
    color: #333;
}
/*  */


/* temporada */
.columna {
    transition: transform .2s;
}

.columna:hover {
    opacity: 0.8;
    cursor: pointer;
    transform: scale(1.1);
}

.letra-temp {
    position: relative;
    bottom: 15%;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 2.5vw;
}
/*  */


/* carousel */
.carousel-item {
    filter: brightness(0.9);
}

.colum {
    margin-left: 7rem;
    margin-top: 3rem;
}


/* footer */
.pie {
    background-color: black;
    color: white;
}

/* erro 404 */
.cont-img {
    background-image: url(./assets/imagenes/404.png);
    color: yellow;
    height: 100vh; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}